body {
  
  font-family: Arial, sans-serif;
  margin: 0;
  background-color:black;
  color: white;
}
.navbar {
background-color: #111;
padding: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.hero {
  text-align: center;
  padding: 50px;
}

.hero img {
  border-radius: 50%;
  width: 200px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color:black;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

.about-page {
  display: flex;
}

.navbar {
  background-color: #111;
  width: 200px;
  padding: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  margin-bottom: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.main {
  flex: 1;
  padding: 20px;
}

.about-page img {
  border-radius: 50%;
  width: 200px;
  margin-bottom: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

.contact-page {
  text-align: center;
  padding: 50px;
}

.contact-page form {
  margin-top: 20px;
}

.contact-page input,
.contact-page textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.contact-page button {
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

































